<div data-template-extend="main"></div>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.js"></script>
<div data-template-block="head">
    <title>Templating Demo</title>
</div>

<div data-template-block="content">
    <h2>Sample for including component</h2>

    <div data-template-include="component"></div>
    <p>Hello <span id="hello"></span></p>

    <p>The most important number is: <span id="goal"></span></p>
</div>

<div data-template-block="scripts">
    <script src="http://maps.googleapis.com/maps/api/js?v=3&sensor=false&language=hu&extension=.js&libraries=geometry"
            type="text/javascript" charset="utf-8"></script>
</div>

<script>
// sample for server and client side tool functions

(function () {

  var mod = function ($, data) {

// just demo purpose, server and client, too
    var mom;
    if (typeof module !== 'undefined' && typeof module.exports !== 'undefined') {
      mom = require('moment');
    }
    else {
      mom = moment;
    }

// callable from server and client side, name should be render
// on the server side called by the renderer automatically
// on the client side you can call mybundle.render($, { data ... })
    function Hello(name) {
      var dt = mom().format();
      $('#hello').text(name + ', at ' + dt + '!');
    }

    if (typeof module === 'undefined' || typeof module.exports === 'undefined') {
      // export functions to browser
      window.Hello = Hello;
      return;
    }

    Hello(data.name);

    return true; // ISO, this JS will be included into browser
  };

  if (typeof module !== 'undefined' && typeof module.exports !== 'undefined') {
    module.exports = mod;
  }
  else {
    mod($, {});
  }
})();

</script>

<script data-template-block="code">
    var i = 1;

    function demo() {
        // calling from the client side, see the index.html.js which is bundled
        Hello('from the Browser #' + i++);
        setTimeout(demo, 1000);
    }

    // in the browser you can see Server for two second, then itt will change to Browser #...
    setTimeout(demo, 2000);
</script>
